html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: rgb(28, 28, 28);
  font-family: 'Titillium Web', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

header {
  padding-bottom: 80px;
  .social-links {
    padding-top: 120px;
  }
}

main {
  margin-bottom: 180px;
}

.container {
  padding: 0;
  max-width: 1707px;
}

.menu {
  padding-top: 5px;
}

.hamburger-menu {
  width: 34px;
  height: 19px;
  background: url('img/Hamburger Menu.png') no-repeat;
}

.search {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-glass {
  width: 20px;
  height: 21px;
  background: url('img/Dark Magnifying Glass Outline.png') no-repeat;
}

.search-text {
  font-family: 'Myriad Pro', sans-serif;
  font-size: 18.66px;
  color: #1c1c1c;
}

.social-links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.social-links li:nth-child(n + 2) {
  padding-left: 40px;
}

.social-footer,
.social-header {
  display: block;
}

.dribbble-logo {
  width: 21px;
  height: 21px;
  background: url('img/Dribbble Logo.png') no-repeat;
}

.linkedin-logo {
  width: 21px;
  height: 21px;
  background: url('img/Linkedin Logo.png') no-repeat;
}

.instagram-logo {
  width: 21px;
  height: 21px;
  background: url('img/Instagram.png') no-repeat;
}

.twitter-logo {
  width: 24px;
  height: 20px;
  background: url('img/Social Twitter Bird Symbol.png') no-repeat;
}

.header-content {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 0;
    font-size: 47.99px;
    font-family: 'Myriad Pro', sans-serif;
    color: #1c1c1c;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 13px;
  }
  p {
    padding-top: 40px;
    margin: 0;
    font-size: 18.66px;
    font-family: 'Georgia', sans-serif;
    color: #8f8f8f;
    font-style: italic;
    line-height: 1.2em;
  }
}

.main-content {
  padding: 0;
}

.content {
  padding-bottom: 115px;
}

.post {
  margin-top: 75px;
  height: 630px;
  hr {
    margin: 0;
    margin-top: 0.8em;
  }
}

.post-card {
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  height: 588px;
  overflow: hidden;
  position: relative;

  &:hover {
    text-decoration: none;
  }
}

.overlay {
  position: absolute;
  opacity: 0;
  transition: all 0.7s;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #25f1b0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  .hashtag {
    opacity: 1;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 18.66px;
    color: #ffffff;
  }

  .viewGallery {
    opacity: 1;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 32px;
    color: #ffffff;
  }
}

.post-card_img {
  height: 100%;
  vertical-align: top;
}

.post-card_description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.post-card_description_hashtag {
  color: #15d698;
  font-size: 18.66px;
}

.post-card_description_description {
  color: #1c1c1c;
  font-size: 32px;
}

.post-footer {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.post-footer_info {
  font-size: 20px;
  font-family: 'Myriad Pro', sans-serif;
  color: #818181;
  span {
    padding-left: 15px;
  }
  .post-comment {
    color: #16d598;
  }
}

.share-block {
  padding: 0;
  margin: 0;
  list-style: none;
}

.share-block_list {
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
}

.share {
  display: block;
}

.share-block_list li:nth-child(n + 2) {
  padding-left: 15px;
}

.share-block_list {
  .mail {
    width: 20px;
    height: 14px;
    background: url('img/Close Envelope.png') no-repeat 0 0;

    &:hover {
      background-position: -21px 0;
    }
  }
  .facebook {
    width: 8px;
    height: 14px;
    background: url('img/Facebook.png') no-repeat 0 0;

    &:hover {
      background-position: -9px 0;
    }
  }
  .twitter {
    width: 16px;
    height: 13px;
    background: url('img/Social Twitter Bird Symbol copy.png') no-repeat 0 0;

    &:hover {
      background-position: -17px 0;
    }
  }
}

.loadBlock {
  hr {
    margin: 0;
  }
}

.loadMorePosts {
  margin: 35px 0;
  display: flex;
  justify-content: center;

  button {
    border: unset;
    background: transparent;
    outline: none;
    font: inherit;
    color: inherit;
  }
  p {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Myriad Pro', sans-serif;
  }
}

footer {
  margin-bottom: 80px;
}

.footer-content {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-family: 'Myriad Pro', sans-serif;
  color: #818181;
  p {
    margin: 0;
  }
}