html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: rgb(28, 28, 28);
  font-family: 'Titillium Web', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

header {
  padding-bottom: 150px;
  .social-links {
    padding-top: 120px;
  }
}

.container {
  max-width: 1707px;
}

.menu {
  padding-top: 5px;
}

.hamburger-menu {
  width: 34px;
  height: 19px;
  background: url('img/Hamburger Menu.png') no-repeat;
}

.search {
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-glass {
  width: 20px;
  height: 21px;
  background: url('img/Dark Magnifying Glass Outline.png') no-repeat;
}

.search-text {
  font-size: 14px;
  color: rgb(28, 28, 28);
  line-height: 2.143;
}

.social-links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.social-links li:nth-child(n + 2) {
  padding-left: 40px;
}

.social-footer,
.social-header {
  display: block;
}

.dribbble-logo {
  width: 21px;
  height: 20px;
  background: url('img/Dribbble Logo.png') no-repeat;
}

.linkedin-logo {
  width: 21px;
  height: 20px;
  background: url('img/Linkedin Logo.png') no-repeat;
}

.instagram-logo {
  width: 21px;
  height: 20px;
  background: url('img/Instagram.png') no-repeat;
}

.twitter-logo {
  width: 24px;
  height: 20px;
  background: url('img/Social Twitter Bird Symbol.png') no-repeat;
}

.header-content {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content {
  h1 {
    margin: 0;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1em;
  }
}

.header-content {
  p {
    padding-top: 40px;
    margin: 0;
    font-size: 15px;
    font-family: 'Georgia', sans-serif;
    color: rgb(143, 143, 143);
    font-style: italic;
    line-height: 1.2em;
  }
}

.main-content {
  padding: 0;
}

.post {
  height: 640px;
  hr {
    margin-top: 1.2em;
  }
}

.post-card {
  background-color: #f5f5f5;
  box-sizing: border-box;
  height: 588px;
  overflow: hidden;
}

.post-card_img {
  height: 100%;
}

.post-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.post-info {
  span {
    padding-left: 15px;
  }
}

.post-info {
  font-size: 20px;
  font-family: 'Myriad Pro', sans-serif;
}

.share-block {
  padding: 0;
  margin: 0;
  list-style: none;
}

.share-block_list {
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
}

.share {
  display: block;
}

.share-block_list li:nth-child(n + 2) {
  padding-left: 15px;
}

.share-block_list {
  .mail {
    width: 28px;
    height: 20px;
    background: url('img/Close Envelope.png') no-repeat;
  }
  .facebook {
    width: 10px;
    height: 20px;
    background: url('img/Facebook.png') no-repeat;
  }
  .twitter {
    width: 24px;
    height: 20px;
    background: url('img/Social Twitter Bird Symbol copy.png') no-repeat;
  }
}

.loadMorePosts {
  display: flex;
  justify-content: center;
  button {
    border: unset;
    background: none;
    outline: none;
  }
  p {
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Myriad Pro', sans-serif;
  }
}
